<div id="landing-page">
    <p class="landing-title">
        <i class="fa-solid fa-chart-line"></i>
        {{ _("WebPlotDigitizer Lite") }}
    </p>
    <p class="landing-subtitle">{{ _("Convert images of graphs into data points") }}</p>
    <div class="landing-drop-area" id="dropArea">
        <input type="file" id="landingPageFileLoadBox" multiple style="display: none;" onchange="wpd.imageManager.load(true);" />
        <label id="fileInputLabel">
            <p style="margin: 0 0 10px 0;"><i class="fa-regular fa-images fa-3x" style="color: var(--dark-gray); "></i></p>
            <p class="file-input-title">{{ _("Drag and drop or click here") }}</p>
            <p class="file-input-subtitle">{{ _("to upload your graph image") }}</p>
        </label>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const landingPage = document.getElementById('landing-page');
        const dropArea = document.getElementById('dropArea');
        const fileInput = document.getElementById('landingPageFileLoadBox');

        // Handle both drag and drop events
        dropArea.addEventListener('dragover', function (e) {
            if (getComputedStyle(landingPage).display == 'none') {
                e.preventDefault();
                return;
            }
            
            e.preventDefault();
            dropArea.classList.add('dragover');
        });

        dropArea.addEventListener('dragleave', function () {
            if (getComputedStyle(landingPage).display == 'none') {
                e.preventDefault();
                return;
            }

            dropArea.classList.remove('dragover');
        });

        dropArea.addEventListener('drop', function (e) {
            if (getComputedStyle(landingPage).display == 'none') {
                e.preventDefault();
                return;
            }

            e.preventDefault();
            dropArea.classList.remove('dragover');

            const files = e.dataTransfer.files;
            if (files.length > 0) {
                fileInput.files = files;
                wpd.imageManager.load();
            }
        });

        dropArea.addEventListener('click', function (e) {
            if (getComputedStyle(landingPage).display == 'none') {
                e.preventDefault();
                return;
            }

            fileInput.click();
        });

        landingPage.addEventListener('paste', function (e) {
            if (getComputedStyle(landingPage).display == 'none') {
                e.preventDefault();
                return;
            }

            const items = e.clipboardData.items;
            for (let i = 0; i < items.length; i++) {
                if (items[i].type.indexOf('image') !== -1) {
                    const blob = items[i].getAsFile();
                    const file = new File([blob], 'pasted_image.png', { type: blob.type });
                    const fileList = new DataTransfer();
                    fileList.items.add(file);
                    fileInput.files = fileList.files;
                    fileInput.dispatchEvent(new Event('change'));
                    break;
                } else if (items[i].type === 'application/pdf') {
                    const blob = items[i].getAsFile();
                    const file = new File([blob], 'pasted_pdf.pdf', { type: blob.type });
                    const fileList = new DataTransfer();
                    fileList.items.add(file);
                    fileInput.files = fileList.files;
                    fileInput.dispatchEvent(new Event('change'));
                    break;
                } else {
                    console.log(items[i].type);
                    wpd.messagePopup.show(wpd.gettext('invalid-file'), wpd.gettext('invalid-file-text'));
                    break;
                }
            }
        });
    });
</script>