<div id="landing-page">
    <p class="landing-title">
        <i class="fa-solid fa-chart-line"></i>
        {{ _("WebPlotDigitizer Lite") }}
    </p>
    <p class="landing-subtitle">{{ _("Convert images of graphs into data points") }}</p>
    <div class="landing-drop-area" id="dropArea">
        <input type="file" id="landingPageFileLoadBox" multiple style="display: none;" onchange="wpd.imageManager.load(true);" />
        <label id="fileInputLabel">
            <p style="margin: 0 0 10px 0;"><i class="fa-regular fa-images fa-3x" style="color: var(--dark-gray); "></i></p>
            <p class="file-input-title">{{ _("Drag and drop or paste from clipboard") }}</p>
            <p class="file-input-subtitle">{{ _("or click here to upload your graph image") }}</p>
        </label>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const dropArea = document.getElementById('dropArea');
        const fileInput = document.getElementById('landingPageFileLoadBox');

        // Handle both drag and drop events
        dropArea.addEventListener('dragover', function (e) {
            e.preventDefault();
            dropArea.classList.add('dragover');
        });

        dropArea.addEventListener('dragleave', function () {
            dropArea.classList.remove('dragover');
        });

        dropArea.addEventListener('drop', function (e) {
            e.preventDefault();
            dropArea.classList.remove('dragover');

            const files = e.dataTransfer.files;
            if (files.length > 0) {
                fileInput.files = files;
                wpd.imageManager.load();
            }
        });

        dropArea.addEventListener('click', function (e) {
            fileInput.click();
        });
    });
</script>