<!-- axes calibration -->
<div id="axes-calibration-sidebar" class="sidebar">
    <p class="sidebar-title" style="padding: 4px;">{{ _("Adjust Axes Calibration") }}</p>
    <br />
    <div class="sidebar-body">
        <p>{{ _("Click to select points.") }}</p>
        <p>{{ _("Use arrow keys to adjust positions.") }}</p>
    </div>
    <br />
    <p align="center"><input type="button" value='{{ _("Done") }}' class="popup-action" style="width: 120px;" onclick="wpd.alignAxes.getCornerValues();" /></p>
    <div class="sidebar-tip">
        <p>
            <i class="fa-solid fa-circle-info"></i>
            <b>Tip</b>
        </p>
        <p class="sidebar-tip-body">
            {{ _("Use <em>Shift+Arrow</em> to move faster") }}
        </p>
    </div>
</div>

<!-- start alignment -->
<div id="start-alignment-sidebar" class="sidebar">
    <div class="centered" style="padding-top: 10px;">
        <input type="button" value='{{ _("Begin Aligning Axes") }}' class="popup-action" onclick="wpd.alignAxes.start();" />
    </div>
</div>

<!-- acquire data -->
<div id="acquireDataSidebar" class="sidebar" style="overflow-y: auto;">
    <p class="sidebar-title" style="padding: 4px; cursor: pointer;" onclick="toggleManualExtraction();">
        <i id="manual-right" class="fa-solid fa-caret-right"></i>
        <i id="manual-down" class="fa-solid fa-caret-down" style="display: none;"></i>
        <span style="padding-left: 5px;">{{ _("Manual Edit") }}</span>
    </p>
    <div id="manual-extraction-section" style="display: none;">
        <p>
            <input type="button" value='{{ _("Add Point") }} (A)' class="sidebar-button" onclick="wpd.acquireData.manualSelection();" style="width:110px;" id="manual-select-button">
            <input type="button" value='{{ _("Adjust Point") }} (S)' class="sidebar-button" onClick="wpd.acquireData.adjustPoints();" style="width: 110px;" id="manual-adjust-button">
        </p>
        <p>
            <input type="button" value='{{ _("Delete Point") }} (D)' class="sidebar-button" onclick="wpd.acquireData.deletePoint();" style="width: 110px;" id="delete-point-button">
            <input type="button" value='{{ _("Edit Labels") }} (E)' class="sidebar-button" id="edit-data-labels" onclick="wpd.acquireData.editLabels();" style="display: none; width: 110px;">
        </p>
    </div>

    <br />
    
    <p class="sidebar-title" style="padding: 4px;">{{ _("Automatic Extraction") }}</p>
    <p>
        <b>{{ _("Color") }}</b>
        <select id="color-detection-mode-select" onchange="wpd.colorPicker.changeDetectionMode();">
            <option value="fg">{{ _("Data Color") }}</option>
            <option value="bg">{{ _("Background Color") }}</option>
        </select>
        <input type="button" id="color-button" value=" " onclick="wpd.colorPicker.startPicker();" style="width: 25px;" title='{{ _("Click to change color") }}' />
    </p>
    <p>
        <b>{{ _("Color Tolerance") }}</b>
        <input type="text" size="3" id="color-distance-value" onchange="wpd.colorPicker.changeColorDistance();" />
        <!-- <input type="button" value='{{ _("Filter Colors") }}' onclick="wpd.colorPicker.testColorDetection();" style="width: 90px; padding: 5px;" class="sidebar-button"> -->
    </p>
    <hr style="border: none; height: 1px;"/>

    <p style="padding: 4px; cursor: pointer;" onclick="toggleAdvancedExtraction();">
        <i id="advanced-right" class="fa-solid fa-caret-right"></i>
        <i id="advanced-down" class="fa-solid fa-caret-down" style="display: none;"></i>
        <span style="padding-left: 5px;">{{ _("Advanced") }}</span>
    </p>
    <div id="advanced-extraction-section" style="display: none;">
        <p>
            <b style="margin-right: 3px;">{{ _("Mask ") }}</b>
            <input type="button" value='{{ _("Box") }}' style="width:45px; min-width: 0px; padding: 5px;" class="sidebar-button" onclick="wpd.dataMask.markBox();" id="box-mask">
            <input type="button" value='{{ _("Pen") }}' style="width:45px; min-width: 0px; padding: 5px" class="sidebar-button" onClick="wpd.dataMask.markPen();" id="pen-mask">
            <input type="button" value='{{ _("Erase") }}' style="width:45px; min-width: 0px; padding: 5px" class="sidebar-button" onClick="wpd.dataMask.eraseMarks();" id="erase-mask">
            <input type="button" value='{{ _("View") }}' style="width:45px; min-width: 0px; padding: 5px" class="sidebar-button" onclick="wpd.dataMask.viewMask();" id="view-mask" />
        </p>
        <div id="mask-erase-container" class="sidebar-extras">
            <p class="centered" style="gap: 3px;">
                <b>{{ _("Width") }}</b>
                <input type="range" id="eraseThickness" min="1" max="150" value="20" style="width:80px;">
                <input type="button" id="clearMaskBtn" value='{{ _("Erase All") }}' style="width:80px; padding: 5px;" class="sidebar-button" onclick="wpd.dataMask.clearMask();" />
            </p>
        </div>
        <div id="mask-paint-container" class="sidebar-extras">
            <p class="centered" style="gap: 3px;">
                <b>{{ _("Width") }}</b>
                <input type="range" id="paintThickness" min="1" max="150" value="20" style="width:120px;">
            </p>
        </div>
        <hr style="border: none; height: 1px;"/>

        <div>
            <p>
                <b>{{ _("Algorithm") }}</b>
                <select id="auto-extract-algo-name" onchange="wpd.algoManager.applyAlgoSelection();"></select>
            </p>
            <div id="algo-parameter-container" style="margin-left: 10px; margin-top: 5px;"></div>
        </div>
    </div>


    <p align="center" style="margin-top: 5px;">
        <input type="button" value='{{ _("Extract") }}' style="width:40px;" class="popup-action" onclick="wpd.algoManager.run();" />
    </p>

    <div class="sidebar-tip">
        <p>
            <i class="fa-solid fa-circle-info"></i>
            <b>Tip</b>
        </p>
        <p>
            Modify the <em>Color Tolerance</em> to expand or narrow the range of colors that are considered acceptable.
        </p>
    </div>

    <div id="point-groups-controls" hidden>
        <br />
        <p class="sidebar-title" style="padding: 4px;">{{ _("Point Groups") }}</p>
        <p>Current Tuple: <span id="current-point-tuple-index" style="font-weight: bold;"></span></p>
        <p>Current Group: <span id="current-point-group-name" style="font-weight: bold;"></span></p>
        <p>
            <input type="button" value="{{ _("Prev Group") }} (,)" onclick="wpd.pointGroups.previousGroup();" style="width: 115px;">
            <input type="button" value="{{ _("Next Group") }} (.)" onclick="wpd.pointGroups.nextGroup();" style="width: 115px;">
        </p>
    </div>
    <div id="value-overrides-controls" hidden>
        <br />
        <p class="sidebar-title" style="padding: 4px;">{{ _("Overrides") }}</p>
        <p>
            <input type="button" value="{{ _("Override Values") }} (R)" id="override-data-values" style="width: 140px;">
            <span id="overridden-data-indicator" hidden>&#8682;</span>
        </p>
    </div>
</div>

<!-- edit image -->
<div id="editImageToolbar" class="sidebar">
    <p align="center"><b>{{ _("Edit Image") }}</b></p>
    <p align="center"><input type="button" value="H. Flip" style="width: 75px;" onclick="hflip();"><input type="button" value="V. Flip" style="width: 75px;" onClick="vflip();"></p>
    <p align="center"><input type="button" value="Crop" style="width: 150px;" onclick="cropPlot();"></p>
    <p align="center"><input type="button" value="Restore" style="width: 150px;" onclick="restoreOriginalImage();"></p>
    <p align="center"><input type="button" value="Save .PNG" style="width: 150px;" onclick="savePNG();"></p>
</div>

<!-- distance measurement -->
<div id="measure-distances-sidebar" class="sidebar">
    <p class="sidebar-title" style="padding: 4px;">{{ _("Measure Distances") }}</p>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 10px;">
        <p align="center">
            <input type="button" value='{{ _("Add Pair") }} (A)' style="width: 115px;" id="add-pair-button" class="sidebar-button" onclick="wpd.measurement.addItem();" />
        </p>
        <p align="center">
            <input type="button" value='{{ _("Delete Pair") }} (D)' style="width: 115px;" id="delete-pair-button" class="sidebar-button" onclick="wpd.measurement.deleteItem();" />
        </p>
    </div>
</div>

<!-- angle measurement -->
<div id="measure-angles-sidebar" class="sidebar">
    <p class="sidebar-title" style="padding: 4px;">{{ _("Measure Angles") }}</p>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 10px;">
        <p align="center">
            <input type="button" value='{{ _("Add Angle") }} (A)' style="width: 115px;" id="add-angle-button" class="sidebar-button" onclick="wpd.measurement.addItem();" />
        </p>
        <p align="center">
            <input type="button" value='{{ _("Delete Angle") }} (D)' style="width: 115px;" id="delete-angle-button" class="sidebar-button" onclick="wpd.measurement.deleteItem();" />
        </p>
    </div>
</div>

<!-- distance measurement -->
<div id="measure-area-sidebar" class="sidebar">
    <p class="sidebar-title" style="padding: 4px;">{{ _("Measure Area/Perimeter") }}</p>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 10px;">
        <p align="center">
            <input type="button" value='{{ _("Add Polygon") }} (A)' style="width: 145px;" id="add-polygon-button" class="sidebar-button" onclick="wpd.measurement.addItem();" />
        </p>
        <p align="center">
            <input type="button" value='{{ _("Delete Polygon") }} (D)' style="width: 145px;" id="delete-polygon-button" class="sidebar-button" onclick="wpd.measurement.deleteItem();" />
        </p>
    </div>
    <br />
    <span id="add-polygon-info" class="sidebar-tip">
        <p>
            <i class="fa-solid fa-circle-info"></i>
            <b>Instructions</b>
        </p>
        <p class="sidebar-tip-body">
            {{ _("Press <em>Enter or Esc</em> to complete the polygon") }}
        </p>
    </span>
</div>

<!-- open path measurement -->
<div id="measure-open-path-sidebar" class="sidebar">
    <p class="sidebar-title" style="padding: 4px;">{{ _("Measure Path") }}</p>
    <p>
        <input type="button" value="{{ _("Add Path") }} (A)" style="width: 115px;" id="add-open-path-button" onclick="wpd.measurement.addItem();" />
        <input type="button" value="{{ _("Delete Path") }} (D)" style="width: 115px;" id="delete-open-path-button" onclick="wpd.measurement.deleteItem();" />
    </p>
</div>

<!-- closed path measurement -->
<div id="measure-closed-path-sidebar" class="sidebar">
    <p class="sidebar-title" style="padding: 4px;">{{ _("Measure Closed Path") }}</p>
    <p>
        <input type="button" value="{{ _("Add Path") }} (A)" style="width: 115px;" id="add-closed-path-button" onclick="wpd.measurement.addItem();" />
        <input type="button" value="{{ _("Delete Path") }} (D)" style="width: 115px;" id="delete-closed-path-button" onclick="wpd.measurement.deleteItem();" />
    </p>
</div>

<!-- grid detection -->
<div id="grid-detection-sidebar" class="sidebar">
    <p class="sidebar-title" style="padding: 4px;">{{ _("Detect Grid") }}</p>
    <p>
        {{ _("Mask") }}
        <input type="button" value='{{ _("Box") }}' style="width: 60px;" id="grid-mask-box" onclick="wpd.gridDetection.markBox();" />
        <input type="button" value='{{ _("Clear") }}' style="width: 60px;" id="grid-mask-clear" onclick="wpd.gridDetection.clearMask();" />
        <input type="button" value='{{ _("View") }}' style="width: 60px;" id="grid-mask-view" onclick="wpd.gridDetection.viewMask();" />
    </p>
    <hr />
    <p>
        {{ _("Color") }}
        <input type="button" value='{{ _("Pick") }}' style="width: 60px;" id="grid-color-picker-button" onclick="wpd.gridDetection.startColorPicker();" />
        <input type="text" value="10" style="width: 60px;" id="grid-color-distance" onchange="wpd.gridDetection.changeColorDistance();" />
        <input type="button" value='{{ _("Test") }}' style="width: 60px;" id="grid-color-test" onclick="wpd.gridDetection.testColor();" />
    </p>
    <p align="center"><input type="checkbox" id="grid-background-mode" checked onchange="wpd.gridDetection.changeBackgroundMode();" /> {{ _("Background Mode") }}</p>
    <hr />
    <table>
        <tr>
            <td align="right">{{ _("Horizontal") }} </td>
            <td><input type="checkbox" id="grid-horiz-enable" checked /></td>
        </tr>
        <tr>
            <td align="right">{{ _("X%") }} </td>
            <td>&nbsp; <input type="text" value="80" id="grid-horiz-perc" style="width: 40px;" /></td>
        </tr>
        <tr>
            <td align="right">{{ _("Vertical") }} </td>
            <td><input type="checkbox" id="grid-vert-enable" checked /></td>
        </tr>
        <tr>
            <td align="right">{{ _("Y%") }} </td>
            <td>&nbsp; <input type="text" value="80" id="grid-vert-perc" style="width: 40px;" /></td>
        </tr>
    </table>
    <hr />
    <p align="center">
        <input type="button" value='{{ _("Reset") }}' style="width: 100px;" class="sidebar-button" onclick="wpd.gridDetection.reset();" />
        &nbsp;
        <input type="button" value='{{ _("Detect") }}' style="width: 100px;" class="sidebar-button" onclick="wpd.gridDetection.run();" />
    </p>
</div>

<!-- startup sidebar -->
<div id="start-sidebar" class="sidebar">
    <p class="sidebar-title" style="padding: 4px;">WebPlotDigitizer Lite</p>
    <br />
    <center>
        <p><input type="button" value='{{ _("Load Image") }}' style="width: 180px;" class="sidebar-button" onclick="wpd.popup.show('loadNewImage');" /></p>
        <p><input type="button" value='{{ _("Tutorial Video") }}' style="width: 180px;" class="sidebar-button" onclick="window.open('https://youtu.be/P7GbGdMvopU','_blank');" /></p>
        <p><input type="button" value='{{ _("Visit GitHub") }}' style="width: 180px;" class="sidebar-button" onclick="window.open('https://github.com/kevincnguyen/WebPlotDigitizer-Lite','_blank');" /></p>
    </center>
    <div class="sidebar-tip">
        <p>
            <i class="fa-solid fa-circle-info"></i>
            <b>Tip</b>
        </p>
        <p>
            Navigate to <em>Add Calibration</em> to get started extracting data
        </p>
    </div>
</div>

<!-- image editing sidebar -->
<div id="image-editing-sidebar" class="sidebar">
    <p class="sidebar-title" style="padding: 4px;"><i class="fa-solid fa-pen-to-square"></i>{{ _(" Image Editing") }}</p>
    <center>
        <div style="margin-top: 10px; display: flex; flex-direction: row; align-items: center; justify-content: center;">
            <button type="button" style="width: 60px; display: flex; flex-direction: column; align-items: center; justify-content: center;" onclick="wpd.imageEditing.undo()" class="sidebar-button" id="image-editing-undo">
                <i class="fa-solid fa-rotate-left"></i>
                {{ _("Undo") }}
            </button>
            <button type="button" style="width: 60px; display: flex; flex-direction: column; align-items: center; justify-content: center;" onclick="wpd.imageEditing.redo()" class="sidebar-button" id="image-editing-redo">
                <i class="fa-solid fa-rotate-right"></i>
                {{ _("Redo") }}
            </button>
        </div>
        <br />
        <p align="center">
            <input type="button" value='{{ _("Crop") }}' style="width: 120px;" onclick="wpd.imageEditing.startImageCrop()" class="popup-action" id="image-editing-crop" />
            <!-- <input type="button" value="{{ _("Fix Perspective") }}" style="width: 120px;" onclick="wpd.imageEditing.startPerspective()" id="image-editing-perspective" /> -->
        </p>
        <!--
        <p align="center">
            <input type="button" value="{{ _("Rotate") }}" style="width: 120px;" onclick="" id="image-editing-rotate" />
            <input type="button" value="{{ _("?") }}" style="width: 120px;" onclick="" id="image-editing-misc" />
        </p>
        -->
        <p>
        <div id="image-editing-crop-info">Click and drag to mark the crop region.</div>
        <div id="image-editing-crop-info">Press <em>Enter</em> to complete cropping.</div>
        <div id="image-editing-crop-info">Press <em>Esc</em> to cancel.</div>
        </p>
    </center>
</div>

<script>
    function toggleManualExtraction() {
        var manualSection = document.getElementById("manual-extraction-section");
        var caretRight = document.getElementById("manual-right");
        var caretDown = document.getElementById("manual-down");

        if (manualSection.style.display === "none") {
            manualSection.style.display = "block";
            caretRight.style.display = "none";
            caretDown.style.display = "inline-block";
        } else {
            manualSection.style.display = "none";
            caretRight.style.display = "inline-block";
            caretDown.style.display = "none";
        }
    }

    function toggleAdvancedExtraction() {
        var advancedSection = document.getElementById("advanced-extraction-section");
        var caretRight = document.getElementById("advanced-right");
        var caretDown = document.getElementById("advanced-down");

        if (advancedSection.style.display === "none") {
            advancedSection.style.display = "block";
            caretRight.style.display = "none";
            caretDown.style.display = "inline-block";
        } else {
            advancedSection.style.display = "none";
            caretRight.style.display = "inline-block";
            caretDown.style.display = "none";
        }
    }
</script>